<header>
  <div class="portfolio-hero">
      <div class="portfolio-menu">
          <ul class="nav-menu">
              <li class="menu-item"><a href="#">Home</a></li>
              <li class="menu-item"><a href="#about">About Me</a></li>
              <li class="menu-item"><a href="#skills">Skills</a></li>
              <li class="menu-item"><a href="#contact">Contact</a></li>
          </ul>
          <div class="portfolio-profile">
              <img alt="profile-pic" src="assets/img/family picture.jpg">
              <h1>Hans Godriel P. Macaraan.</h1>
              <h2>Web developer</h2>
          </div>
      </div>
  </div>
</header>
<main>
  <div id="about">
      <h2>About Me</h2>
      <p>I am Hans Godriel P. Macaraan. Im 19 years old. Im Studying on Adventist University of The Phil. In God's grace i am willing to become professional Web developer someday. And to help to the ministry someday by using my knowledge.And also i want to dedicate this website to my family.</p>
  </div>
  <div id="skills">
      <h2> Skills</h2>
      <div class="skill-main-grid">
          <div class="skill-grid1">
              <h3>photoshop Editing</h3> <img alt="profile-pic" src="assets/img/photoshop.jpg" width="250" height="200">
              <p></p>
          </div>
          <div class="skill-grid2">
                  <h3>Video Editing</h3><img alt="profile-pic" src="assets/img/video.jpg" width="250" height="200">
                  <p></p>
          </div>
          <div class="skill-grid3">
                  <h3>eating</h3> <img alt="profile-pic" src="assets/img/eating.jpg" width="250" height="200">
                  <p></p>
          </div>
          <div class="skill-grid4">
            <h3>reading bible</h3> <img alt="profile-pic" src="assets/img/bible.jpg" width="250" height="200">
            <p></p>
    </div>
      </div>
      <h2>Programming Languages</h2>
      
      <div class="skill-main-grid">
          <div class="skill-grid1">
              <h3>CSS</h3><img alt="profile-pic" src="assets/img/css.jpg" width="128" height="128">
              <p>Stands for "Cascading Style Sheet." Cascading style sheets are used to format the layout of Web pages. They can be used to define text styles, table sizes, and other aspects of Web pages that previously could only be defined in a page's HTML.</p>
          </div>
          <div class="skill-grid2">
                  <h3>JAVASCRIPT</h3><img alt="profile-pic" src="assets/img/javascript.jpg" width="128" height="128">
                  <p>JavaScript is a programming language commonly used in web development. It was originally developed by Netscape as a means to add dynamic and interactive elements to websites.</p>
          </div>
          <div class="skill-grid3">
                  <h3>JAVA</h3><img alt="profile-pic" src="assets/img/java.jpg" width="128" height="128">
                  <p>Java is a high-level programming language developed by Sun Microsystems. It was originally designed for developing programs for set-top boxes and handheld devices, but later became a popular choice for creating web applications.</p>
          </div>
          <div class="skill-grid4">
                  <h3>html</h3><img alt="profile-pic" src="assets/img/html.jpg" width="128" height="128">
                  <p>Hypertext Markup Language is the standard markup language for documents designed to be displayed in a web browser. It can be assisted by technologies such as Cascading Style Sheets and scripting languages such as JavaScript.  </p>
          </div>
      </div>
  </div>
  <div id="contact">
    <div back-img="assets/img/nature.jpg"></div>

  </div>
</main>